.jobsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: var(--form-max-width);
  width: 100%;
}

.jobsContainer {
  padding: 1em;
  display: flex;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.jobsContainer a {
  text-decoration: none;
  color: var(--color-text-primary);
}

.jobsCompanyLogo {
  max-width: 50px;
  margin-bottom: 0.25em;
}

.jobsTitle {
  font-size: 1.15rem;
}

.jobsDescriptionWrapper {
  display: flex;
  gap: 0.5em;
}

.noJobsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.noJobsFoundPara {
  font-size: 1.3rem;
  font-weight: bold;
}
