.jobsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: var(--form-max-width);
  width: 100%;
}

.jobsContainer {
  padding: 1em;
  display: flex;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.jobsContainer a {
  text-decoration: none;
  color: var(--color-text-primary);
}

.jobsCompanyLogo {
  max-height: 25px;
  object-fit: contain;
  margin-bottom: 0.25em;
}

.jobsTitle {
  font-size: 1.15rem;
}

.jobsDescriptionWrapper {
  display: flex;
  gap: 0.5em;
}

.jobsDescriptionWrapper > p {
  color: var(--aside-text);
}

.noJobsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
  margin-top: 1em;
}

.noJobsFoundPara {
  font-size: 1.3rem;
  font-weight: bold;
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding: 1em;
  width: 100%;
  margin-top: 5em;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.noJobsFoundSVG {
  width: 50px;
}

.errorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding: 1em;
  width: 100%;
  margin-top: 5em;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.errorSVG {
  width: 25px;
}

.jobsCompanyNameAndLogoContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.jobsCompanyName {
  font-size: 1.05rem;
  font-weight: 1000;
}
