.gridWrapper {
  display: grid;
  grid-template-columns: minmax(auto, 250px) minmax(auto, 1000px) minmax(
      400px,
      1fr
    );
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "aside nav nav"
    "aside profile preview";
  height: 100vh;
  gap: 1em;
}

.asideContainer {
  grid-area: aside;
  padding: 0 1em;
  outline: 1px solid var(--color-text-muted);
}

.navContainer {
  grid-area: nav;
  height: 50px;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid var(--color-text-muted);
}

.profilePictureAndFormSection {
  grid-area: profile;
  display: grid;
  grid-template-areas:
    "photo"
    "form";
  grid-template-rows: 130px;
  gap: 1em;
}

.profilePictureContainer {
  grid-area: photo;
  height: 130px;
  outline: 1px solid var(--color-text-muted);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userProfileForm {
  grid-area: form;
}

.previewContainer {
  outline: 1px solid var(--color-text-muted);
  grid-area: preview;
  margin-right: 1em;
  padding: 0 1em;
  max-height: 550px;
}

@media screen and (max-width: 1000px) {
  .asideContainer {
    display: none;
  }

  .gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      "nav nav"
      "profile preview";
    column-gap: 0;
  }

  .profilePictureAndFormSection {
    padding: 0 1em;
  }
}

@media screen and (max-width: 700px) {
  .gridWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "profile"
      "preview";
    column-gap: 0;
  }

  .profilePictureAndFormSection {
    gap: 1em;
  }

  .previewContainer {
    padding: 0 1em;
    margin-left: 1em;
  }
}
