.profilePictureWrapper {
  display: flex;
  flex-direction: column;
}

.profilePictureContainer {
  display: flex;
  gap: 0.5em;
}

.profilePictureSVG {
  width: 20px;
}

.profilePicturePara {
  margin-top: 0.5em;
  width: 70%;
  line-height: 1.15;
}

.formUploadingProfilePicture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputChangingProfilePicture {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.userProfilePictureSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--aside-main-background-color);
  position: relative;
}

.profilePictureAbsoluteContainer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(20px, 25px);
  box-shadow: var(--main-box-shadow);
}

.profilePicturePluSVG {
  width: 10px;
}
