.companiesWrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.5em;
  margin-top: 2em;
}

.companiesContainer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.companiesContainer a {
  text-decoration: none;
  color: var(--color-text-primary);
}

.companiesLogo {
  max-height: 25px;
  object-fit: contain;
  margin-bottom: 0.25em;
}

.companiesTitle {
  font-size: 1.15rem;
}

.companiesDescriptionWrapper {
  display: flex;
  gap: 0.5em;
}

.noCompaniesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-top: 1em;
  text-align: center;
}

.noCompaniesFoundPara {
  font-size: 1.3rem;
  font-weight: bold;
}

.companiesButtons {
  display: flex;
  gap: 0.5em;
}

.companiesEditLink {
  padding: 0.2em;
  border-radius: 0.45em;
  padding-inline: 0.5em;
  text-decoration: none;
  outline: 1px solid var(--color-text-primary);
  background-color: var(--color-bg-main);
  color: var(--color-bg-main);
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding: 1em;
  width: 100%;
  margin-top: 5em;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.noCompaniesFoundSVG {
  width: 50px;
}

@media screen and (max-width: 530px) {
  .companiesWrapper {
    padding: 1em;
  }
}

.jobHomeAnchorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.jobHomeAnchorContainer {
  max-width: 400px;
  width: 100%;
  display: flex;
}

.jobHomeAnchor {
  display: flex;
  gap: 0.5em;
  text-decoration: none;
  color: var(--color-text-primary);
  transition: text-decoration 0.5 ease-in-out;
}

.jobHomeAnchor:hover {
  text-decoration: underline;
}

.jobHomeAnchorImg {
  width: 15px;
}

.errorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding: 1em;
  width: 100%;
  margin-top: 5em;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.errorSVG {
  width: 25px;
}

.companiesNameAndLogoAnchor {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.companiesNameAndLogoAnchor > h2 {
  font-weight: 1000;
  font-size: 1.05rem;
}
