.companiesWrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.5em;
  margin-top: 2em;
}

.companiesContainer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.companiesContainer a {
  text-decoration: none;
  color: var(--color-text-primary);
}

.companiesLogo {
  max-height: 25px;
  object-fit: contain;
  margin-bottom: 0.25em;
}

.companiesTitle {
  font-size: 1.15rem;
}

.companiesDescriptionWrapper {
  display: flex;
  gap: 0.5em;
}

.noCompaniesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-top: 1em;
  text-align: center;
}

.noCompaniesFoundPara {
  font-size: 1.3rem;
  font-weight: bold;
}

.companiesButtons {
  display: flex;
  gap: 0.5em;
}

.companiesEditLink {
  padding: 0.2em;
  border-radius: 0.45em;
  padding-inline: 0.5em;
  text-decoration: none;
  border: 2px solid var(--color-text-primary);
  color: var(--color-text-primary);
}

.loadingCompaniesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingCompaniesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  padding: 1em;
  width: 100%;
  margin-top: 2em;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.noCompaniesFoundSVG {
  width: 50px;
}

@media screen and (max-width: 530px) {
  .companiesWrapper {
    padding: 1em;
  }
}
