.asideWrapper {
  display: flex;
  gap: 0.5em;
  line-height: 1.15;
  align-items: center;
  padding: 1em 0;
}

.userProfilePictureSpan {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  background-color: var(--aside-bg);
}

.asideFlexedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.asideFlexedNamesContainer {
  display: flex;
  gap: 0.5em;
  font-weight: bold;
}

.asideUserEmail {
  color: var(--aside-text);
}

.asideMenuContainer {
  display: flex;
  gap: 0.5em;
  padding-bottom: 0.25em;
  border: 0;
  background-color: var(--color-bg-main);
  width: 100%;
  padding-left: 0.25em;
  border-radius: var(--main-border-radius);
  text-decoration: none;
  color: var(--color-bg-main);
  transition: background-color 0.5 seconds ease-in-out;
}

.asideMenuAnchors {
  display: flex;
  flex-direction: column;
}

.asideMenuContainer:hover {
  background-color: var(--aside-bg);
  cursor: pointer;
}

.asideHomeSpan,
.asideCreateSpan {
  margin: 0.25em 0;
  color: var(--color-text-primary);
}

.asideMenuSVG {
  width: 20px;
}
