.formWrapper {
  height: var(--viewport-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer {
  width: 100%;
  max-width: var(--form-max-width);
  max-height: var(--form-max-height);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.formHeaderContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 30%;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5em;
}

.formHeaderContainer > p {
  color: var(--aside-text);
}

.formHeader {
  margin-bottom: -0.2em;
  font-size: var(--font-size-xl);
  color: var(--color-text-primary);
}

.formLabel {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.submitButton {
  width: 90%;
  margin-top: 1em;
  background-color: var(--color-text-primary);
  color: var(--color-bg-main);
  padding: 0.25em;
  border-radius: 0.45em;
}

.submitButton:hover {
  cursor: pointer;
}

.anchorPara {
  margin: 0.5em 0;
  color: var(--aside-text);
}

.anchorPara > a {
  text-decoration: none;
  color: var(--color-text-primary);
}

.anchorPara > a:hover {
  text-decoration: underline;
}

.formValidationError {
  color: var(--color-status-error);
  width: 90%;
  font-size: 0.95rem;
  line-height: 1.2em;
}

.formContainer input {
  padding: 0.2em;
  border-radius: 0.45em;
  padding-inline: 0.5em;
  margin-top: 0.25em;
}
