.selectWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--main-max-width);
  width: 100%;
  margin-bottom: 0.75em;
}

.selectContainer {
  position: relative;
  width: 250px;
  border-radius: 0.75em;
}

.selectTrigger {
  padding: 0.25em;
  outline: 1px solid var(--secondary-color);
  border-radius: 0.7em;
  padding-inline: 0.5em;
  margin-top: 0.25em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background: var(--tertiary-color);
  color: var(--main-color);
}

.dropDownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid var(--secondary-color);
  background: var(--tertiary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.scrollArrowUp,
.scrollArrowDown {
  text-align: center;
}

.optionsList {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 150px;
  overflow: hidden;
}

.optionsList li {
  padding: 8px 12px;
  cursor: pointer;
}

.optionsList li:hover {
  background-color: #f0f0f0;
}

.scrollArrow {
  text-align: center;
  background: #f9f9f9;
  cursor: pointer;
  font-size: 10px;
  padding: 4px 0;
  user-select: none;
}

.scrollArrowHover {
  background-color: #e0e0e0;
}

.jobsLengthPara:not(span) {
  color: var(--main-color);
  font-weight: bolder;
}
