.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer {
  max-width: 450px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.formFieldset {
  width: 100%;
}

.formLegend {
  margin-bottom: 0.25em;
}

.formLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  padding: 0 1em;
}

.formLabelNoFullWidth {
  display: flex;
  gap: 0.25em;
  margin-bottom: 0.5em;
  padding: 0 1em;
}

.stepButtons {
  display: flex;
  gap: 0.25em;
  padding: 0 1em;
}
