.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer {
  max-width: 450px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.formFieldset {
  width: 100%;
}

.formLegend {
  margin-bottom: 0.25em;
}

.formLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  padding: 0 1em;
}

.formLabelNoFullWidth {
  display: flex;
  gap: 0.25em;
  margin-bottom: 0.5em;
  padding: 0 1em;
}

.stepButtons {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  padding: 0 1em;
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding: 1em;
  width: 100%;
  margin-top: 5em;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.errorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding: 1em;
  width: 100%;
  margin-top: 5em;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.errorSVG {
  width: 25px;
}
