.formWrapper {
  max-width: var(--main-max-width);
  width: 100%;
  margin: 0.5em;
}

.formContent {
  display: flex;
  gap: 0.5em;
}

.formContent input,
.formContent button {
  padding: 0.25em;
  border-radius: 0.75em;
  padding-inline: 0.5em;
  margin-top: 0.25em;
}

.formContent input {
  width: 100%;
  border: 1px solid var(--secondary-color);
}

.formContent button {
  padding: 0 1.25em;
  background-color: var(--main-color);
  color: var(--tertiary-color);
  border: 0;
  cursor: pointer;
  font-weight: bold;
}
