.gridDashboardContainer {
  display: grid;
  grid-template-columns: 250px 1000px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "aside nav nav"
    "aside profile preview";
  height: 100vh;
  gap: 1em;
}

.asideDashboardContainer {
  grid-area: aside;
  padding: 0 1em;
  box-shadow: var(--main-box-shadow);
}

.navDashboardContainer {
  grid-area: nav;
  height: 50px;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--main-box-shadow);
}

.sectionDashboardContainer {
  grid-area: profile;
  display: grid;
  grid-template-areas:
    "photo"
    "details";
  grid-template-rows: 130px;
  gap: 1em;
}

.userProfilePictureContainer {
  grid-area: photo;
  height: 130px;
  outline: 1px solid black;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userProfileFormContainer {
  grid-area: details;
  background-color: aqua;
}

.previewDashboardContainer {
  grid-area: preview;
  background-color: blue;
  margin-right: 1em;
  padding: 0 1em;
}

.userProfilePictureSVG {
  width: 20px;
}

.userProfilePictureFlexedWrapper {
  display: flex;
  flex-direction: column;
}

.userProfilePictureFlexedContainer {
  display: flex;
  gap: 0.5em;
}

.userProfilePicturePara {
  margin-top: 0.5em;
  width: 70%;
  line-height: 1.15;
}

.userProfilePictureSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--aside-main-background-color);
  position: relative;
}

.userProfilePictureSVGSpan {
  width: 25px;
}

.userProfilePictureInput {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.formUserProfilePicture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userProfilePicturePlusContainer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(20px, 25px);
  box-shadow: var(--main-box-shadow);
}

.userProfilePicturePlus {
  width: 10px;
}
