.gridDashboardContainer {
  display: grid;
  grid-template-columns: 250px 1000px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "aside nav nav"
    "aside profile preview";
  height: 100vh;
  gap: 1em;
}

.asideDashboardContainer {
  grid-area: aside;
  padding: 0 1em;
  box-shadow: var(--main-box-shadow);
}

.navDashboardContainer {
  grid-area: nav;
  height: 50px;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--main-box-shadow);
}

.sectionDashboardContainer {
  grid-area: profile;
  display: grid;
  grid-template-areas:
    "photo"
    "details";
  grid-template-rows: 130px;
  gap: 1em;
}

.userProfilePictureContainer {
  grid-area: photo;
  height: 130px;
  outline: 1px solid black;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userProfileFormContainer {
  grid-area: details;
}

.previewDashboardContainer {
  grid-area: preview;
  background-color: blue;
  margin-right: 1em;
  padding: 0 1em;
}
