.gridWrapper {
  display: grid;
  grid-template-columns: 250px 1000px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "aside nav nav"
    "aside profile preview";
  height: 100vh;
  gap: 1em;
}

.asideContainer {
  grid-area: aside;
  padding: 0 1em;
  box-shadow: var(--main-box-shadow);
}

.navContainer {
  grid-area: nav;
  height: 50px;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--main-box-shadow);
}

.profilePictureAndFormSection {
  grid-area: profile;
  display: grid;
  grid-template-areas:
    "photo"
    "form";
  grid-template-rows: 130px;
  gap: 1em;
}

.profilePictureContainer {
  grid-area: photo;
  height: 130px;
  outline: 1px solid black;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userProfileForm {
  grid-area: form;
}

.previewContainer {
  outline: 1px solid black;
  grid-area: preview;
  margin-right: 1em;
  padding: 0 1em;
}
