.formContainer {
  border-radius: var(--main-border-radius);
  outline: 1px solid black;
  padding: 1em;
}

.formLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.submitButton {
  width: 100%;
  margin-top: 1em;
  background-color: var(--main-color);
  color: white;
  padding: 0.25em;
  border-radius: 0.45em;
}

.submitButton:hover {
  cursor: pointer;
}

.formContainer input {
  padding: 0.2em;
  border-radius: 0.45em;
  padding-inline: 0.5em;
  margin-top: 0.25em;
}

.formFlexedImgContainer {
  display: flex;
  gap: 0.5em;
}

.formParaInfo {
  width: 50%;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

.userProfilePictureSVGSpan {
  width: 20px;
}
