.navContainer {
  display: flex;
  gap: 0.5em;
}

.navProfilePictureSVG {
  width: 20px;
}

.navUserProfilePictureSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
  background-color: var(--aside-bg);
  cursor: pointer;
}

.navDropdown {
  position: absolute;
  right: 20px;
  width: 200px;
  background-color: var(--color-bg-main);
  padding: 0.35em 0.75em;
  box-shadow: var(--shadow-md);
}

.navDropdown > .userEmail {
  color: var(--color-text-muted);
}

.profilePara {
  color: var(--color-text-primary);
  transition: background-color 0.5 seconds ease-in-out;
}

.logoutPara {
  color: var(--color-status-error);
  transition: background-color 0.5 seconds ease-in-out;
}

.profilePara:hover,
.logoutPara:hover {
  background-color: var(--aside-bg);
  cursor: pointer;
}
