.navContainer {
  display: flex;
  gap: 0.5em;
}

.navProfilePictureSVG {
  width: 20px;
}

.navUserProfilePictureSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--aside-main-background-color);
  cursor: pointer;
}

.navDropdown {
  position: absolute;
  right: 20px;
  width: 200px;
  background-color: var(--tertiary-color);
  padding: 0.35em 0.75em;
  box-shadow: var(--main-box-shadow);
}

.navDropdown > .userEmail {
  color: var(--aside-main-color);
}

.profilePara {
  color: var(--main-color);
  transition: background-color 0.5 seconds ease-in-out;
}

.logoutPara {
  color: var(--validation-error);
  transition: background-color 0.5 seconds ease-in-out;
}

.profilePara:hover,
.logoutPara:hover {
  background-color: var(--aside-main-background-color);
  cursor: pointer;
}
