.jobDetailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5em;
}

.jobDetailsContainer {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.jobDetailsLogoHeaderContainer {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.jobCompanyLogo {
  max-height: 25px;
  object-fit: contain;
}

.jobCompanyHeader {
  font-size: 1.5rem;
  font-weight: 800;
}

.jobAnchorHrContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  margin-top: 1.5em;
}

.jobHomeAnchor {
  display: flex;
  gap: 0.5em;
  transition: text-decoration 0.5 ease-in-out;
}

.jobHomeAnchor:hover {
  text-decoration: underline;
}

.jobHomeAnchorImg {
  width: 15px;
}

.jobAnchorHrContainer a {
  text-decoration: none;
  color: var(--color-text-primary);
}

.jobsDescriptionHr {
  color: var(--aside-text);
  margin: 0.5em 0;
}

.jobUlHeader {
  margin-top: 0.5em;
}

.jobUlHeader span {
  font-size: 1.05rem;
  font-weight: bold;
}

.jobList {
  list-style-position: inside;
  font-size: 1.05rem;
}

.jobAnchorHrefContainer {
  cursor: pointer;
  background-color: var(--color-text-primary);
  text-align: center;
  padding: 0.2em;
  border-radius: 0.45em;
  padding-inline: 0.5em;
  margin-top: 0.25em;
  max-width: 100%;
}

.jobAnchorHrefContainer a {
  color: var(--color-bg-main);
}

.jobTitleHeader {
  font-size: 1.5rem;
}

.jobDescriptionSpanContainer {
  display: flex;
  justify-content: flex-start;
  gap: 0.25em;
}

.jobDescriptionImgContainer {
  display: flex;
  gap: 0.5em;
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding: 1em;
  width: 100%;
  margin-top: 5em;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.errorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding: 1em;
  width: 100%;
  margin-top: 5em;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.errorSVG {
  width: 25px;
}
